<script language="javascript">
$(document).ready(function() {
    $("#username").focus();
});
function imgUploading() {
	if(!$('#image').val().match(/(.jpg|.jpeg|.gif|.png)$/i)){
		alert('图片格式错误，图片只能上传.jpg .jpeg .gif .png 格式的！');
		$('#image').val('');
		return;
	}
}
</script>   

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h4><%=  @user.errors.count %> 个错误发生:</h4>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user, :html => {:multipart => true}) do |f| %>

<div class="form-item ask-title">
	<input type="hidden" name="prev_action" value="<%=@prev_action%>">
	<table class="ask-title-table">
		<tr>
			<td>
				<label for="username">用户名</label>
			</td>
			<td><%= @user.display_name %></td>
		</tr>
		<tr>
			<td><label for="password">密码</label></td>
			<td>
				 <%= f.password_field :new_password, :maxlength => 40 %>
				<% if @prev_action == 'edit' %>
					(不输入密码表示不对密码进行更改)
				<% end %>
			</td>
		</tr>
		<tr>
			<td><label for="password_confirm">重复密码</label></td>
			<td><%= f.password_field :new_password_confirmation, :maxlength => 40 %></td>
		</tr>
		<tr>
			<td><label for="user_email">Email</label></td>
			<td><%= f.text_field :email, :maxlength => 40 %></td>
		</tr>

		<tr>
			<td><label for="about_me" style="vertical-align: middle">个人简介</label></td>
			<td><%= f.text_area :about_me, :rows => 12, :cols => 80 %></td>
		</tr>
	</table>
</div>

<div class="form-submit cbt">
	<%= f.submit "提交", :tabindex=>"120", :style=>"width: 160px" %>
</div>

<% end %>