<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title).blank? ? DEFAULT_TITLE : yield(:title) %></title>
		<meta name="description" content="<%=@meta ? @meta : DEFAULT_META%>" />
		<meta name="keywords"  content="<%=@keywords ? @keywords : DEFAULT_KEYWORDS%>" />
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/stylesheets/all.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/qichunren_custom.css">
		<%=javascript_include_tag 'jquery' %>
		<%= csrf_meta_tag %>   
		<%= yield :html_head %>
	</head>
<body>

<div id="custom-header"></div>
<div class="container">
	<%= render :partial => "share/header" %>
	<div id="content">
		<%= yield %>
	</div>
</div>
<%= render :partial => "share/footer" %>

</body>
</html>